@model IEnumerable<Product>

<!-- Create a table to display products-->
<h2>Products</h2>

<!-- Link to go to InsertProduct views page-->
<div style="display:block">
    <a href="/Product/InsertProduct/">Create a New Product</a>
</div>

<table class="table">
    <!-- Create a row in the table to display the name of columns. -->
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>

    <!-- foreach product in the Model we will create a row with data relevant to the product.-->
   @foreach (var product in Model)
    {
    <tr>
        <td><a href=/Product/ViewProduct/@product.ProductID>@product.ProductID</a></td>
        <td>@product.Name</td>
        <td>@product.Price</td>
        <td>@product.CategoryID</td>
        <td>@product.OnSale</td>
        <td>@product.StockLevel</td>
    </tr>

    }

</table>